<div class="container">
    <div class="row">
	<div class="col-md-12">
	    <h1 class="title">Rólunk</h1>
	</div>
    </div>
    <div class="row">
	<p>A Végegyházi Sporthorgász Egyesület 2010. szeptember 18-án alakult meg 23 taggal. Jelenleg 105 regisztrált tagunk van, és létszámuk egyre gyarapodik. Az egyesület nyílt, bárki beléphet, aki végegyházi kötődésű és elfogadja az egyesület alapszabályát.  Az egyesület megalakulásakor tűzte zászlajára a helyi horgásztó kialakítását és üzemeltetését, amelyet a 2015. évben meg is valósítottunk.</p>
	<p>A tevékenységünk részét képezi a horgászat törvényi feltételeinek biztosításán túl a helyi környezet védelmének szervezése. Akcióink, takarítási napjaink során a Száraz-ér környéke kiemelt figyelmet kap. Rendszeresen szervezünk konferenciát a Száraz-ér és környékének védelméről és értékeiről, valamint iskolásoknak szervezzük a Száraz-ér a mi vizünk környezetvédelmi vetélkedőt is. Működési költségeinket tagdíj bevételekből, támogatásokból, pályázati támogatásokból tudjuk fedezni. Az idei évtől a horgásztó üzemeltetése is a feladataink közé került. </p>
	<p>A Békés Megyei Horgászegyesületek Szövetsége 2010. november 24-én felvette soraiba a végegyházi horgászok egyesületét, így ettől a naptól a MOHOSZ-nak is tagjaivá lettünk. Ennek a csatlakozásnak köszönhetően lehetőségünk van arra, hogy tagjaink már a 2011-es esztendő óta helyben válthassák meg az állami horgászjegyet, a szövetségi betétlapot és a megyei szövetség területi engedélyeit. Elértük tehát, hogy sporttársainknak nem kell a környező városokba utazni csak azért, hogy kiváltsák az engedélyt.
A terveink között szerepel a horgásztó környékének kiépítése, pihenőhelyek, kiülők építése, a horgász terület komfortosabbá tétele. Természetesen ebben a munkában is támaszkodnunk kell önkénteseinkre, akik számos esetben segítették működésünket. A munkánkat közel hatvan alkalmi és 21 szerződéses önkéntes segíti. Az egyesület fontos feladata a gyermekhorgász létszám fejlesztése és további hölgyhorgászok toborzása is. A tavunk lehetővé teszi horgászversenyek rendezését, nem csak saját versenyünk rendezését tervezzük, hanem kérés esetén más szervezeteknek is biztosítunk lehetőséget.</p>
	<div class="col-md-6">
	    <%= image_tag "logo.jpg" %>
	</div>
	<div class="col-md-6">
	    <h3>Az egyesület vezetősége</h3>
	    <p>A közgyűlés öttagú elnökséget választott.</p>
	    <p><strong>Elnök:</strong>Gyovai Csanád</p>
	    <p><strong>Elnökségi tagok:</strong>Takács Béla, ifj. Gyebnár Tibor, Horváth László és Mikula István</p>
	</div>
    </div>
</div>