<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="title">Elérhetőségünk</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1375.8845363714279!2d20.857055773130295!3d46.39380505110347!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47444b8d34d0c275%3A0x400c4290c1e53f0!2zVsOpZ2VneWjDoXph!5e0!3m2!1shu!2shu!4v1420303857340" width="600" height="450" frameborder="0" style="border:0"></iframe>
		</div>
		<div class="col-md-6">
			<address class="pull-right">
				<h3>Végegyházi Sporthorgász Egyesület</h3>
				<p><strong>Nyitvatartás: </strong>06:30 - 18:30</p>
				<p><strong>Cím: </strong><span>5811 Végegyháza, Széchenyi u. 7.</span></p>
				<p><strong>E-mail: </strong><span>vssporthor@citromail.hu</span></p>
				<p><strong>Telefon: </strong><span>06 30 648 0771</span></p>
			</address>
		</div>
	</div>
</div>