<h1 id="main-title"><span>Végegyházi Horgásztó</span></h1>
<ul class="list-unstyled" id="main-nav">
	<li><span><%= link_to "Hírek", posts_path %></span></li>
	<li><span><%= link_to "Rólunk", page_path('about') %></span></li>
    <li><span><%= link_to "Tóépítés", page_path('toepites') %></span></li>
	<li><span><%= link_to "Elérhetőség", page_path('contact') %></span></li>
</ul>