<div class="container">
    <div class="row">
	<h1 class="title">Információ</h1>
    </div>
    <div class="row">
	<h3>Árak</h3>
	<p><strong>Napijegy:</strong> 2500 Ft</p>
	<p><strong>Éves területi engedély:</strong> 25 000 Ft</p>
    </div>
    <hr/>
    <h3>Nyitvatartás</h3>
    <p>Mindennap: <strong>06:30 - 18:30</strong></p>
    <hr/>
    <h3>
	<a href="https://drive.google.com/open?id=0B025xALR4ZCROGp5azdZZjlOZFk">Horgászrend</a>
    </h3><span>(Katt a letöltésért)</span>
</div>
