<div class="container">
   <div class="row">
    <div class="col-md-12">
	 <h1 class="title">Tóépítés</h1>
	</div>
  </div>
<div>
    <h3>Horgászturizmussal a településünk fejlesztéséért</h3>
    <p>Az elmúlt évben pályázott a Végegyházi Sporthorgász Egyesület horgásztavának kialakítására, amely turisztikai fejlesztésként meg is valósulhatott, így a horgászturizmus fejlesztése az elkövetkező időszakban központi kérdés lesz az egyesület életében. Első lépésként a júliusi megnyitást követően rögtön lehetőség lesz napijegyes horgászatra, mind a belföldi, mind a külföldi horgásztársak számára.</p>
    <p>Ez után folyamatosan szervezzük azokat a kiegészítő programokat, amely szórakozást nyújthat a családosan érkezőknek, illetve azoknak a családtagoknak, akik nem hódolna a horgászat nemes hobbijának. Természetesen a tó környékét is komfortossá igyekszünk tenni, hogy a vendégek jól érezhessék magukat. A tó jól megközelíthető, hiszen aszfaltozott út vezet egészen a bejáratig, ahol parkolóhellyel várjuk az érkezőket. A horgásztársak bátran elhozhatják családtagjaikat, hiszen a környéken találhatnak maguknak szórakozást, hiszen közel van hozzánk Mezőkovácsháza, Mezőhegyes, vagy akár a fürdőjéről híres Nagybánhegyes település is. Azt reméljük, hogy a hozzánk látogatók szívükbe zárják csendes kis falunkat és a Dél-békési térséget.</p> 
    <strong>Találkozzunk Végegyházán!</strong>
  </div>
  <br>
  <div class="row"></div>
  <div class="text-center">
    <img src="http://vegegyhazibarangolo.hu/images/horgaszegyesulet/totot.jpg" height="800" alt="Darányi">
  </div>
</div>