<%= form_for([:admin, @post]) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Cím" %><br>
    <%= f.text_area :title, cols: "100", rows: "1" %>
  </div>
  <div class="field">
    <%= f.label "Kivonat" %><br>
    <%= f.text_area :excerpt, cols: "100", rows: "5" %>
  </div>
  <div class="field">
    <%= f.label "Szöveg" %><br>
    <%= f.cktext_area :body %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Mentés" %>
  </div>
<% end %>
