<div class="container">
  <div class="row">
    <h1 class="pull-left">Admin</h1>
    <div class="admin pull-right"> 
      <% if author_signed_in? %>
        Bejelentkezve: <strong><%= current_author.email %></strong>.
        <%= link_to "Kijelentkezés", destroy_author_session_path, method: :delete  %>
      <% else %>
        <%= link_to "Bejelentkezés", new_author_session_path %>
      <% end %>
    </div>  
  </div>
  <table class="table table-striped datatable">
    <thead>
      <tr>
        <th>Cím</th>
        <th>Létrehozva</th>
        <th>Frissítve</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.title %></td>
          <td><%= post.created_at.strftime("%Y %m %d") %></td>
          <td><%= post.updated_at.strftime("%Y %m %d") %></td>
          <td><%= link_to 'Megtekintés', admin_post_path(post) %>
              <%= link_to 'Szerkesztés', edit_admin_post_path(post) %>
              <%= link_to 'Törlés', admin_post_path(post), method: :delete, data: { confirm: 'Biztos törölni szeretnéd a cikket?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= button_to 'Új Cikk', new_admin_post_path, method: :get, class: "btn btn-success" %>
</div>