<div class="container post">
	<h2 class="text-center"><%= @post.title %></h2>

	<p>
	  <strong><%= @post.excerpt %></strong>
	</p>

	<p>
	  <%= raw(@post.body) %>
	</p>
	<div class="facebook">
		<div
		  class="fb-like"
		  data-share="true"
		  data-width="450"
		  data-show-faces="true">
		</div>
		<br>
		<div class="fb-comments" data-href="http://developers.facebook.com/docs/plugins/comments/" data-numposts="5" data-colorscheme="light" data-width="100%"></div>
	</div>
	<br>
</div>