<div class="container">
  <h1 class="title">Hírek</h1>
  <% @posts.each do |post| %>
    <div class="post">
      <h3 class="post-title">
        <%= post.title %>
      </h3>
      <p>
        <%= post.excerpt %>
        <%= link_to "Tovább", post %>
      </p>
      
    </div>
  <% end %>
</div>