@import "bootstrap";
.facebook {
    display: none !important;
}
body {
	background: black asset_url("../assets/background_new.jpg") no-repeat fixed;
	font-size: 16px;
	background-size: 100%;
}
p {
	font-size: 16px;
}
header {
	background-color: rgba(0,0,0,0.85);
	height: 80px;
	margin-bottom: 80px;
	h3 {
		margin-top: 28px;
	}
	a, a:visited, a:active, a:hover {
		color: white;
		text-decoration: none;
	}
	ul {
		margin-top: 30px;
		li {
			margin-right: 10px;
		    &.highlighted a {
			color: yellow;
		    }
		}
	}
}

.title {
	margin-bottom: 50px;
	text-align: center;
}

.container {
	background-color: rgba(250,250,250, 0.9);
	box-shadow: 2px 2px 2px #494949;
	height: 100%;
	padding: 20px 40px 100px;
}
.row {
	margin: 0;
}
//POSTS
.post {
	h2 {
		margin: 20px 0;
	}
	p {
		margin-bottom: 15px;
		text-align: justify;
	}
}

// INDEX
#main-title {
	//font-family: Oswald;
	font-weight: bold;
	margin-top: 180px;
	margin-bottom: 50px;
	span {
		color: white;
		background-color: rgba(0,0,0, 0.2);
		font-size: 80px;
		padding: 20px 20px 20px 50px;
	}
}

#main-nav {
 li {
 	margin-bottom: 22px;
 		span {
 			background-color: rgba(0,0,0, 0.6);
			font-size: 36px;
 			padding: 15px 30px 15px 60px;
 			a, a:visited, a:active {
				color: white;
				text-decoration: none;
 			}
	 		&:hover {
	 			background-color: rgba(255,255,255,0.6);
	 			a {
	 				color: black;
	 			}
	 		}
 		}
 	}
}

// CONTACT
address {
	margin-top: 50px;
}

// ADMIN
.admin {
	margin-top: 30px;
}

.btn {
	border-radius: 1px;
}