<!DOCTYPE html>
<html>
<head>
  <title>Végegyházi Horgásztó</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true  %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="fI01iY_rFRSV4vmgVq4c7NvC9_zaKIknVvzlqUq8VFU" />
</head>
<body>
<header>
	<div class="col-md-4">
		<h3><%= link_to "Végegyházi Horgásztó", "/" %></h3>
	</div>
	<div class="col-md-8">
		<ul class="list-inline pull-right">
			<li class="highlighted"><%= link_to "Információ", page_path('information') %></li>
			<li><%= link_to "Hírek", posts_path %></li>
			<li><%= link_to "Rólunk", page_path('about') %></li>
			<li><%= link_to "Tóépítés", page_path('toepites') %></li>
			<li><%= link_to "Elérhetőség", page_path('contact') %></li>
		</ul>
	</div>
</header>

<%= yield %>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '363400733827105',
      xfbml      : true,
      version    : 'v2.2'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/hu_HU/sdk.js#xfbml=1&appId=363400733827105&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</body>
</html>
